<ion-header>
  <ion-toolbar>
    <ion-title>Create Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-text>Wähle ein Spiel: <br></ion-text>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <div class="colDiv">
            <ion-text>control a creature called "The Doodler" to jump on multiple platforms and jump as high as you can without falling</ion-text>
            <ion-button color="primary" fill="clear" expand="block">Jump Game </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col></ion-col>
        <ion-col>
          <div class="colDiv">
            <ion-text>In Break Bricks - Ball s Quest, you have to move a paddle back and forth so you can hit a ball toward some colored bricks, which disappear when struck</ion-text>
            <ion-button color="primary" fill="clear" expand="block">Break Brick </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
